<div id="divHome">
  <h2>Olá, Seja Bem-Vindo(a) ao Covid Brasil</h2>

  <h4>Afinal, como o coronavirus age no organismo?</h4>
  <div id="textHome">
    <p>
      Ao entrar no corpo humano, o vírus se multiplica dentro do nosso nariz e outras partes do sistema respiratório de forma despercebida. Essa fase é chamada de pré-sintomática ou de incubação. Nela, apesar de ainda não haver sintomas, indivíduos contaminados são capazes de infectar outras pessoas.
    </p>

    <p>
      Com o passar dos dias, o coronavírus se espalha e o corpo reage a essa invasão. Nesse período podem surgir os primeiros sintomas, — febre, nariz escorrendo (coriza), dor de garganta e tosse, muito semelhantes a um resfriado comum. Mesmo nessa fase, algumas pessoas não desenvolvem nenhum sintoma da infecção: são os chamados casos assintomáticos, que também parecem poder transmitir a covid-19, apesar de não sabermos com que frequência isso ocorre.
    </p>

    <p>
      Na maior parte das vezes, o sistema imune consegue combater o vírus de forma eficaz. Por isso, a maioria das pessoas apresenta apenas sintomas leves e recuperam-se após alguns dias.
    </p>

    <p>
      Entretanto, em alguns casos, o vírus consegue chegar aos pulmões provocando sintomas graves, como falta de ar e, consequentemente, menor oxigenação dos órgãos do nosso corpo. Tudo isso pode ser fatal.
    </p>
  </div>
</div>
