/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{
  background-color: rgba(164, 164, 164, 0.461);
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #c33535;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
   border: 3px solid #c33535;
}
