  <div id="divMediasMoveis">
    <div>
      <h3>Médias Móveis</h3>
      <h6>Afinal, como que calcula as médias móveis?</h6>
      <p>
        Soma os dados mais recentes de covid com os dos seis dias anteriores, dividindo o resultado por sete.
      </p>
    </div>
    <br>
    <div>
      <h4>Média de Casos</h4>

        <ul class="list-group list-group-flush" *ngFor="let m of medias">
          <li class="list-group-item">Ultima Semana: {{m.mediaConfirmados}} casos</li>
        </ul>
        <hr>
        <ul class="list-group list-group-flush" *ngFor="let m of medias2">
          <li class="list-group-item">Penúltima Semana: {{m.mediaConfirmados}} casos</li>
        </ul>
        <hr>
        <ul class="list-group list-group-flush" *ngFor="let m of medias3">
          <li class="list-group-item">Antepenúltima Semana: {{m.mediaConfirmados}} casos</li>
        </ul>
        <hr>

    </div>
    <br>
    <br>
    <div>
      <h4>Média de Mortes</h4>

      <ul class="list-group list-group-flush" *ngFor="let m of medias">
        <li class="list-group-item">Ultima Semana: {{m.mediaMortos}} casos</li>
      </ul>
      <hr>
      <ul class="list-group list-group-flush" *ngFor="let m of medias2">
        <li class="list-group-item">Penúltima Semana: {{m.mediaMortos}} casos</li>
      </ul>
      <hr>
      <ul class="list-group list-group-flush" *ngFor="let m of medias3">
        <li class="list-group-item">Antepenúltima Semana: {{m.mediaMortos}} casos</li>
      </ul>
      <hr>
    </div>
  </div>
